<table class="invoice-items bordered" cellpadding="0" cellspacing="0" style="table-layout: auto">
  <thead>
    <% if headers %>
      <tr>
        <th class="align_left s_no_col"><%= t('views.common.serial_number') %></th>
        <th><%= "Product" %></th>
        <th class="center-align"><%= "Pack" %></th>
        <th class="center-align"><%= "Quantity" %></th>
        <th class="center-align"><%= "Batch" %></th>
        <th class="center-align"><%= "Expiry" %></th>
        <th class="center-align"><%= "HSN" %></th>
        <th class="center-align"><%= "MRP" %></th>
        <th class="center-align"><%= "Rate" %></th>
        <th class="center-align"><%= "Special Discount" %></th>
        <th class="center-align"><%= "Discount" %></th>
        <th class="center-align"><%= "CGST %" %></th>
        <th class="center-align"><%= "SGST %" %></th>
        <th class="center-align"><%= "Amount" %> </th>
        <th class="center-align"><%= "Net Amount" %></th>
      </tr>
    <% end %>
  </thead>

  <tbody>

    <%  items.each do |item| %>
      <tr class="invoice-pdf-row">
        <td class="align_left"><%= @num+=1 %></td>
        <td class="align_left"><%= "#{item.item_name || item.item.item_name}" %></td>
        <td class="align_left"><%= "#{item.pack}" %></td>
        <td class="center-align"><%= item.item_quantity.to_f %></td>
        <td class="align_left"><%= "#{item.batch}" %></td>
        <td class="align_left"><%= "#{item.expiry}" %></td>
        <td class="align_left"><%= "#{item.hsn}" %></td>
        <td class="align_left"><%= number_to_currency(item.mrp, unit: invoice.currency.code) %></td>
        <td class="center-align"><%= number_to_currency(item.rate, unit: invoice.currency.code) %></td>
        <td class="align_left"><%= item.special_discount.to_i %>%</td>
        <td class="align_left"><%= item.discount.to_i%>%</td>
        <% if invoice.has_tax_one? %>
          <td class="center-align"><%= "#{Tax.with_deleted.find(item.tax_1).percentage}%" if item.tax_1.present? %></td>
        <% end %>
        <% if invoice.has_tax_two? %>
          <td class="center-align"><%= "#{Tax.with_deleted.find(item.tax_2).percentage}%" if item.tax_2.present?  %></td>
        <% end %>
        <td class="align_right"><%= number_to_currency(item.amount, unit: invoice.currency.code) %></td>
        <td class="align_right"><%= number_to_currency(item.net_amount, unit: invoice.currency.code) %></td>
      </tr>
    <% end %>
  </tbody>
</table>